@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Orbitron:wght@400..900&display=swap');



* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


body, html {
  margin: 0;
  padding: 0;
  background-color: #000000;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  scroll-behavior: smooth;
}

li {
  list-style: none;
  cursor: crosshair;
  text-align: left;
}

nav .links li a {
  text-decoration: none;
  padding: 30px 10px;
  padding-right: 0;
  height: 100%;
  color: #fff;
  cursor: crosshair;
  position: relative;
}

nav .links li .sub-menu li a {
  color: #fff;
  padding: 10px;
  cursor: crosshair;
  position: relative;
}

header {
  position: sticky;
  position: -webkit-sticky;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  top: 0;
  width: 100%;
  z-index: 100;
  border-bottom: thin solid rgba(255, 255, 255, 0.2);
}

nav ul li span{
  position: absolute;
}


li:hover  .material-symbols-outlined {
  transform: rotate(180deg);
  transition-duration: .5s;
  color: red;
 }

nav {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

nav .logo-img {
  max-height: 80px;
}

nav .logo {
  display: flex;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  margin-right: auto;
}
nav h2 {
  margin-top: auto;
  margin-bottom: 4px;
  margin-left: -25px;
}

nav h2 span {
  color: #DA250D;
}

nav .links {
  display: flex;
  gap: 2rem;
  padding: 20px;
}


nav ul li ul {
  display: none;
}


nav .links li:hover ul {
  display: block;
  top: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

@media (min-width: 992px) {
  nav ul li ul {
    position: absolute;
    width: 15rem;
  } 
}

nav ul li ul li a {
  color: #ffffff;
  display: block; 
}

nav ul li ul li a:after {
  content: none; 
}

nav ul li ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1); 
}

nav ul li ul li a:hover {
  color: #af2020 !important; 
}
  
nav ul li ul li a:hover:after {
  content: none; 
}






nav .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  display: none;
}

.action_btn {
  color:#DA250D;
  text-decoration: none;
  padding: 10px 15px;
  margin: 10px;
  margin-left: auto;
  cursor: crosshair;
}





.dropdown_menu {
  display: none;
  position: absolute;
  right: 2pem;
  top: 60px;
  height: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
  
}

.dropdown_menu ul li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}


@media (max-width: 992px){
  nav .links,
  nav .action_btn {
    display: none;
  };
  nav .toggle_btn{
    display: block;
  };
  .dropdown_menu{
    display: block;
  };
}


@media (max-width: 576px){
  .dropdown_menu{
    left: 2rem;
    width: unset;
  }
}

.pricing {
  display: flex;
}
.pricing li p {
  color: #7a2525;
}

.header-section {
  margin-bottom: auto;
  height: 100vh;
}

.header-section h1{
  margin-top: 10rem;
  text-align: left;
  color:#af2020;
  font-size: 100px;
}

.header-section h2 {
  font-size: 70px;
}

.header-section p {
  font-size: 40px;
  bottom: 30px;
  right: 40px;
}

section {
  padding: 10px;
  max-width: 100%; /* Adjusted the max-width */
}

img {
  max-width: 100%;
  height: auto;
}

h3 {
  padding: 20px;
  text-align: left;
  background-color: rgba(255,255,255,.1);
  backdrop-filter: blur(5px);
  margin: 10px;
}

section li li {
  list-style: disc;
}

section li ul {
  padding-left: 2rem;
}

p {
  font-size: 1rem; 
  padding: 10px;
  text-align: left;
}

.content {
  display: none;
  padding: 10px;
  background-color: #000000;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label + .content {
  display: block;
}

label {
  display: block;
  padding: 20px;
  text-align: left;
  background-color: rgba(255,255,255,.1);
  backdrop-filter: blur(5px);
  margin-bottom: 5px;
  cursor: crosshair;
  height: 100%;
  transition: all 1s ease;
}

label:hover {
  background-color: #710a0a;
  backdrop-filter: blur(5px);
}










.sub-links {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  position: relative;
}

.sub-links li {
  cursor: crosshair;
  margin: 20px;
  padding: 20px;
  background-color: rgba(255,255,255,.1);
  backdrop-filter: blur(5px);
  transition: all 0.5s ease;
}
.sub-links li:hover {
  background-color: #710a0a;
}

.sub-links li a {
  color: #fff;
  text-decoration: none;
  text-align: left;
  cursor: crosshair;
}




.contact-section {
  display: flex;
}

.contact-section .contact-text {
 flex-direction: column;
 justify-content: space-between;
 padding: 2rem;
 margin: auto;
}

.contact-section .contact-text .contact-button {
  text-decoration: none;
  display: inline-block;
  background-color: rgba(255,255,255,.1);
  backdrop-filter: blur(5px);
  color:#DA250D;
  padding: 15px;
  transition: all 0.5s ease;
  border-radius: 10px;
 }

 .contact-section .contact-text .contact-button:hover {
 background-color: #710a0a;
 cursor: crosshair;
 }

.contact-section .contact-img {
  height: auto;
  max-width: 600px;
  margin-left: auto;
}




footer {
  background-color: #1e1f22; /* Set a background color for the footer */
  padding: 40px;
  border-radius: 20px 20px 0 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-logo {
  width: 140px; /* Adjust the logo width as needed */
  height: auto;
  margin-bottom: 20px;
}

.footer-section {
  flex: 1;
  text-align: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.footer-section h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;
  margin: 0;
  border-radius: 10px;
}

.footer-section p {
  color: #ccc;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
  cursor: crosshair;
}

.social-links {
  display: flex;
}

.social-links a:hover {
  text-decoration: none;
  cursor: crosshair;
}

.fa-brands{
  padding: 10px;
  text-decoration: none;
}

.page_404 {
  text-align: center;
}