body, html {
  margin: 0;
  padding: 0;
  background: url('/assets/img/background.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

header {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  max-width: 100%; /* Adjusted the max-width */
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

header img {
  max-width: 100px;
  margin-right: 20px;
  border-radius: 5px; /* Adjusted the border radius for the logo */
}

header h1 {
  margin: 0;
  flex: 1; /* Allow the title to take up the remaining space */
}

section, footer {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  max-width: 100%; /* Adjusted the max-width */
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 1.5rem; /* Adjusted font size for section headings */
}

p {
  font-size: 1rem; /* Adjusted font size for paragraphs */
}
